<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Laravel Helpdesk{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_asset('assets/css/main.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="ico/favicon.ico">

    {# Bloco de scripts (topo) #}
    {% block scripts_top %}
        <script src=""></script>
    {% endblock %}

</head>
<body>

    {# Bloco de conteúdo #}
    {% block content %}
        Content base...
    {% endblock %}

    {# Bloco de scripts (rodapé) #}
    {% block scripts_bottom %}
        <script src="{{ url_asset('assets/js/jquery.js') }}"></script>
        <script src="{{ url_asset('assets/js/bootstrap.js') }}"></script>
    {% endblock %}

    {# Bloco de scripts (corpo) #}
    {% block scripts_body %}
    {% endblock %}
</body>
</html>